.accordion-content-panel-layout {
    margin: 0 20px;
    @include tablet {
        min-width: 690px;
        @include col(16/22);
        @include centeredMaxWidth(1030px);
    }
}

.accordion {
    margin-bottom: 50px;
    &__heading {
        margin: auto;
        padding: 20px 70px 20px 20px;
        position: relative;
        font-size: 1rem;
        line-height: 1.6;
        border: $defaultborder;
        border-radius: 0;
        border-bottom: 0;
        color: $rb-darkgrey;
        background: #fff;
        outline: none;
        cursor: pointer;
        font-size: rem(16px);
        transition: 0.2s all;
        &.ui-state-active {
            font-weight: bold;
        }
        &:nth-last-child(2) {
            border-bottom: $defaultborder;
        }
        @include desktop-lg {
            font-size: 1rem;
        }
    }
    &__icon {
        position: absolute;
        top: 25px;
        right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/f-rbcom-rbtickets-icon-accordion-expanded-50x50.svg) !important;
        &--collapsed {
            background-image: url(../img/f-rbcom-rbtickets-icon-accordion-closed-50x50.svg) !important;
        }
        &--expanded {
            background-image: url(../img/f-rbcom-rbtickets-icon-accordion-expanded-50x50.svg) !important;
        }
        @include tablet {
            @include acent(v);
            right: 25px;
        }
    }
    &__dropdown {
        padding: 20px;
        @include tablet {
            padding: 20px 50px;
        }
        border: $defaultborder;
        border-radius: 0;
        border-bottom: 0;
        &:last-child {
            border: $defaultborder;
        }
    }
}