.cart {
    &__trigger {
        position: fixed;
        right: 10px;
        // top: 610px; // default pos
        top: 20px; // cart-open pos
        width: 60px;
        height: 60px;
        background: $rbred;
        z-index: 999;
        border-radius: 50%;
        cursor: pointer;
           @include tablet {
            right: 20px;
        }
    }
    &__trigger-icon {
        @include acent;
        width: 30px;
        height: 30px;
    }
    &__trigger-item-count {
        position: absolute;
        bottom: 0;
        left: -5px;
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 4px;
        font-size: rem(13.5px);
        font-weight: bold;
        line-height: 1;
        color: #fff;
        background-color: #10151e;
        text-align: center;
    }
    &__box {
        position: fixed;
        top: 95px;
        background: #fff;
        right: 20px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px $bordergrey;
        width: calc(100% - 20px);
        left: 50%;
        transform: translate(-50%, 0);
        @include tablet {
            left: auto;
            transform: none;
            width: 340px;
        }
    }
    &__box-header {
        margin: auto;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(21px);
        font-weight: 900;
        line-height: 1;
        @include tablet {
            font-size: rem(24px);
        }
    }
    &__content {
        border-top: 3px solid $bordergrey;
        @include tablet {
            border-bottom: 3px solid $bordergrey;
            margin-bottom: 20px;
        }
    }
    &__item,
    &__footer {
        border-bottom: 1px solid $bordergrey;
    }
    &__item-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
    }
    &__item-title {
        display: inline-block;
        max-width: 220px;
        font-size: rem(16px);
        line-height: 1.6;
        margin-top: auto;
        @include tablet {
            font-size: rem(18px);
        }
    }
    &__item-price {
        font-weight: bold;
        line-height: 1.6;
        text-align: right;
        text-transform: uppercase;
    }
    &__item-clear {
        width: 30px;
        height: 30px;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/fb-rbcom-rbtickets-button-delete.svg);
        border: 0;
        background-color: #fff;
    }
    &__item-count {
        width: 50px;
        height: 50px;
        vertical-align: top;
        border-top: 1px solid $bordergrey;
        border-bottom: 1px solid $bordergrey;
        border-left: 0;
        border-right: 0;
        outline: none;
        font-size: rem(16px);
        font-weight: 500;
        @include tablet {
            font-size: rem(18px);
        }
    }
    &__total-label {
        font-size: rem(13.5px);
        font-weight: 500;
        line-height: 1;
        color: #8a909a;
    }
    &__total-price {
        font-size: rem(18px);
        font-weight: bold;
        line-height: 1.6;
        text-transform: uppercase;
        color: $rbred;
    }
    &__total-vat {
        font-size: rem(13.5px);
        line-height: 1;
    }
    &__item-count-button {
        height: 50px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        &--down {
            background-image: url(../img/f-rbcom-rbtickets-icon-minus-15x15.svg);
        }
        &--up {
            background-image: url(../img/f-rbcom-rbtickets-icon-plus-15x15.svg);
        }
    }
    &__footer-message {
        font-size: rem(13.5px);
        line-height: 1.6;
        color: #1a1919;
    }
    &__checkout--default {
        display: none;
        @include tablet {
            display: block;
        }
    }
    &__checkout--mobile {
        padding: 20px 0;
        border-top: 3px solid $bordergrey;
        @include tablet {
            display: none;
        }
    }
    &__checkout-button {
        width: 100%;
    }
}