.cart {
    &__trigger {
        position: fixed;
        right: 20px;
       // top: 610px; // default pos
        top: 20px; // cart-open pos
        width: 60px;
        height: 60px;
        background: $rbred;
        z-index: 999;
        border-radius: 50%;
        cursor: pointer;
    }
    &__trigger-icon {
        @include acent;
        width: 30px;
        height: 30px;
    }
    &__item,
    &__total,
    &__footer {
        border-bottom: 1px solid $bordergrey;
        padding: 20px 0;
    }
    &__item-title {
        display: inline-block;
        max-width: 220px;
    }
    &__content {
        position: fixed;
        top: 95px;
        background: #fff;
        right: 20px;
        width: 340px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px $bordergrey;
    }
    &__content-header {
        margin-top: auto;
        border-bottom: 3px solid $bordergrey;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    &__checkout-button {
        width: 100%;
    }
}