    .card {
        display: block;
        position: relative;
        min-width: 270px;
        height: 250px;
        overflow: hidden;
        &__wrapper,
        &__preview,
        &__preview-wrapper {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        &__preview {
            pointer-events: auto;
        }
        &__preview-wrapper,
        &__wrapper {
            max-width: 1440px;
            margin: 0 auto;
            pointer-events: none;
            .card__content {
                align-content: flex-start;
                padding-top: 20px;
            }
        }
        &__wrapper {
            padding-top: 85px;
            .card__content {
                align-content: flex-end;
                padding-bottom: 20px;
            }
            @include tablet {
                padding-top: 0;
            }
        }
        &__images {
            position: relative;
            pointer-events: none;
            height: 100%;
            width: 100%;
        }
        &__preview-image {
            transition: transform .8s cubic-bezier(.35, 0, 0, 1);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        &__content {
            align-content: flex-start;
            padding-top: 20px;
            pointer-events: none;
            z-index: 2;
            opacity: 1;
            //  visibility: hidden;
            transition: 0.4s all;
        }
        &__inner-content {
            width: 100%;
        }
        &__buttons {
            @include acent;
            z-index: 5;
            opacity: 0;
            //  visibility: hidden;
            transition: 0.4s all;
            text-align: center;
        }
        &__button {
            min-width: 220px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: auto;
            }
        }
        &__date {
            -webkit-box-flex: 1;
            -o-box-flex: 1;
            box-flex: 1;
            -ms-flex: 1 0 100%;
            flex: 1 0 100%;
            margin-bottom: 10px;
            color: #fff;
        }
        &__date-item,
        &__date-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        &__date-item {
            -webkit-box-orient: vertical;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        &__date-day,
        &__date-separator {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.2;
        }
        &__date-month {
            font-weight: bold;
            font-size: 16px;
            line-height: 1;
        }
        &__tag {
            margin: 5px auto;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
        &__title {
            font-size: 21px;
            font-weight: bold;
            margin-top: auto;
        }
        &__metadata-container {
            color: #a0a1a1;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
        }
        &:hover {
            .card__preview-image {
                transform: scale(1.05);
            }
            .card__content {
                opacity: 0;
            }
            .card__buttons {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    
    .card--default {
        .card__standfirst,
        .card__subtitle,
        .card__tag,
        .card__title {
            color: #fff;
        }
        .card__images:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(0deg, rgba(0, 15, 30, .8) 0%, rgba(0, 15, 30, .1) 100%);
            //  z-index: 1;
            pointer-events: none;
        }
    }
    
    .card--zoom {
        transform: translateZ(0);
    }
    

    .card--default {
        height: 250px;
        .card__content {
            margin: 0 20px;
            @include tablet {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: calc(100% - 40px);
                height: 100%;
                margin: 0 20px;
            }
        }
    }
    
    // Metadata
    .metadata {
        &__location {
            margin-bottom: 10px;
        }
        &__location-icon,
        &__price-icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 0.7em;
            vertical-align: middle;
        }
    }