.form {
    @include clearfix;
    @include tablet {
        @include centeredMaxWidth(620px);
    }
    @include desktop {
        @include centeredMaxWidth(640px);
    }
    &__text {
        clear: both;
        text-align: center;
    }
    &__input-field-wrapper {
        margin-bottom: 15px;
        overflow: hidden;
        @include tablet {
            float: left;
            width: 300px;
            &:nth-child(odd) {
                float: right;
            }
        }
        @include desktop {
            width: 310px;
        }
        &--full-width {
            width: 100%;
            float: none;
            clear: both;
        }
        &--submit {
            float: none !important;
            margin: auto;
        }
    }
    &__input-field {
        border: $defaultborder;
        font-size: rem(18px);
        padding: rem(13px);
        display: inline-block;
        width: 100%;
        &--textarea {
            resize: none;
        }
        &--radio,
        &--checkbox {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
            &:checked + label {
                &:before {}
                &:after {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
        &--inline {
            display: inline-block;
            border: none;
            width: auto;
        }
        &--styled {
            position: relative;
            padding: 20px 0 20px 40px;
            text-align: left;
        }
    }
    &__input-field-label {
        margin-bottom: 10px;
        font-size: rem(13.5px);
        font-weight: 500;
        line-height: 1;
        color: #8a909a;
        span {
            display: inline-block;
            margin-left: 3px;
            color: $rb-red;
        }
        &--inline {
            display: inline-block;
            color: $rb-darkgrey;
            font-weight: 400;
            font-size: rem(16px);
            cursor: pointer;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 35px;
                border-radius: 50%;
                @include tablet {
                    top: 50%;
                }
                
            }
            &:before {
                left: 0;
                width: 24px;
                height: 24px;
                margin: -15px 0 0;
                background: #fff;
                border: 1px solid #d0d0d0;
            }
            &:after {
                left: 4px;
                width: 16px;
                height: 16px;
                margin: -11px 0 0;
                opacity: 0;
                background: $rb-red;
                transition: opacity 0.25s ease-in-out;
            }
            @include desktop {
                font-size: 1rem;
            }
        }
    }
    &__button-field-wrapper {
        clear: both;
        @include clearfix;
    }
    &__input-field-split {
        float: left;
        display: inline-block;
        &--narrow {
            width: 100px;
        }
        &--wide {
            width: calc(100% - 110px);
            margin-left: 10px;
            @include tablet {
                width: 190px;
            }
            @include desktop {
                width: 200px;
            }
        }
    }
    &__input-field-message {
        clear: both;
        float: left;
        font-size: rem(13.5px);
        line-height: 1.6;
        color: #8a909a;
    }
    &__submit {
        width: 100%;
        @include tablet {
            display: block;
            @include centeredMaxWidth(220px);
        }
    }
}

.placeholder-option {
    .dropdown__text {
        color: #cdcecf;
    }
}

.areaCode {
    .dropdown__text {
        padding: 13px 5px 13px 15px;
    }
}


/* DEV

.styled-input--square {
    .form__input-field-label--inline {
        &:before,
        &:after {
            border-radius: 0;
        }
    }
}

.styled-input--rounded {
    .form__input-field-label--inline {
        &:before {
            border-radius: 10px;
        }
        &:after {
            border-radius: 6px;
        }
    }
}

*/