.image-gallery-item {
    display: block;
    position: relative;
    min-width: 270px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(0deg, rgba(0, 15, 30, .8) 0%, rgba(0, 15, 30, .1) 100%);
        //  z-index: 1;
    }
}