.hero-small {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $hero-small-min-height-mobile;
    background-image: url(../img/rbtickets-header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        display: inline-block;
        height: auto;
        width: auto;
    }
    &__logo--square {
        width: 185px;
        height: auto;
        @include tablet {
            width: 250px;
        }
    }
    &__overview-title {
        font-size: rem(24px); // add rem calc
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: center;
        text-transform: uppercase;
        color: #8a909a;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        display: none;
        @include tablet {
            display: block;
        }
    }
    &__default-title {
        font-weight: 900;
        line-height: 1.1;
        text-align: center;
        color: #ffffff;
        font-size: rem(33px);
        text-transform: uppercase;
        
        @include tablet {
            font-size: rem(43px);
        }
        @include desktop {
            font-size: rem(57px);
        }
    }
    &__backlink-wrapper {
        padding: 0 20px;
        text-align: center;
        @include tablet {
            display: none;
        }
    }
    &__backlink {
        @extend .header__backlink;
           @include mobile {
            display: inline-block;
        }
    }
    @include tablet {
        min-height: $hero-small-min-height-tablet;
    }
    &--checkout {
        min-height: $hero-checkout-min-height-mobile;
        padding-top: 20px;
        @include tablet {
            padding-top: 0;
            min-height: $hero-checkout-min-height;
        }
    }
}