.share-bar-panel {
    display: flex;
    justify-content: center;
    &.dark-theme {
        color: #fff;
        background-color: $rb-darkblue;
    }
    &__container {
        max-width: 1030px;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, .2);
        margin: 0 80px;
        padding: 24px 0;
        box-flex: 0;
        flex: 0 0 calc(100% - 40px);
        @include tablet {
            flex: 0 0 calc(100% - 160px);
        }
    }
}

.share-bar {
    &__caption {
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: rem(12px);
        line-height: 1;
        color: #8f9090;
        font-size: rem(13.5px);
    }
    &__buttons {
        text-align: center;
        padding-left: 0;
    }
    &__element {
        width: 48px;
        height: 48px;
        margin: 5px;
        display: inline-block;
    }
    &__button {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
}

.share-bar__element--facebook .share-bar__button {
    background: #4e69a2 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%229%22 height=%2216%22 viewBox=%220 0 9 16%22%3E%3Cpath fill=%22%23FFF%22 fill-rule=%22evenodd%22 d=%22M8.809 2.656l-1.506.001c-1.181 0-1.41.561-1.41 1.384v1.816H8.71l-.367 2.845h-2.45V16H2.956V8.702H.5V5.857h2.456V3.76C2.956 1.325 4.443 0 6.614 0c1.04 0 1.934.077 2.195.112v2.544z%22/%3E%3C/svg%3E") no-repeat 50% 50%/9px 16px;
}

.share-bar__element--twitter .share-bar__button {
    background: #55acee url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2219%22 height=%2215%22 viewBox=%220 0 19 15%22%3E%3Cpath fill=%22%23FFF%22 fill-rule=%22evenodd%22 d=%22M16.634 3.736c.007.163.012.326.012.49C16.646 9.23 12.836 15 5.87 15a10.72 10.72 0 0 1-5.804-1.7c.296.034.597.052.903.052a7.595 7.595 0 0 0 4.703-1.621A3.79 3.79 0 0 1 2.135 9.1a3.82 3.82 0 0 0 1.71-.065A3.787 3.787 0 0 1 .809 5.324v-.049a3.76 3.76 0 0 0 1.716.474A3.786 3.786 0 0 1 1.352.693 10.752 10.752 0 0 0 9.157 4.65a3.787 3.787 0 0 1 6.452-3.454 7.577 7.577 0 0 0 2.405-.918 3.805 3.805 0 0 1-1.665 2.095 7.599 7.599 0 0 0 2.175-.596 7.708 7.708 0 0 1-1.89 1.96%22/%3E%3C/svg%3E") no-repeat 50% 50%/19px 15px
}

.share-bar__element--reddit .share-bar__button {
    background: #ff5700 url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2222%22 height=%2219%22 viewBox=%220 0 22 19%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Ctitle%3Eicon-reddit-white%3C/title%3E%3Cg fill=%22%23FFF%22 fill-rule=%22evenodd%22%3E%3Cpath d=%22M6.92 11.246a1.467 1.467 0 1 1 2.934 0 1.467 1.467 0 0 1-2.934 0m6.125 0a1.467 1.467 0 1 1 2.934 0 1.467 1.467 0 0 1-2.934 0%22/%3E%3Cpath d=%22M20.392 10.87c-.353-.972-1.046-1.855-1.99-2.591a1.64 1.64 0 0 1 2.574 1.342c0 .488-.219.942-.584 1.25m-9.046 6.979c-4.722 0-8.563-2.467-8.563-5.5s3.841-5.5 8.563-5.5c4.721 0 8.562 2.467 8.562 5.5s-3.84 5.5-8.562 5.5M1.75 9.621a1.64 1.64 0 0 1 2.556-1.355c-.945.732-1.64 1.612-1.999 2.581a1.637 1.637 0 0 1-.557-1.226M18.575 1.86a1.201 1.201 0 0 1 0 2.4 1.201 1.201 0 0 1 0-2.4m3.152 7.762a2.39 2.39 0 0 0-2.387-2.387c-.586 0-1.138.211-1.574.595-1.553-.993-3.613-1.632-5.89-1.718l1.357-3.859 3.392.811a1.952 1.952 0 0 0 1.95 1.946c1.075 0 1.95-.875 1.95-1.95 0-1.076-.875-1.95-1.95-1.95-.816 0-1.516.504-1.806 1.217l-4.019-.96-1.668 4.739c-2.372.044-4.525.687-6.135 1.71a2.369 2.369 0 0 0-1.56-.581A2.39 2.39 0 0 0 1 9.62c0 .814.42 1.565 1.098 2.003a4.28 4.28 0 0 0-.065.726c0 3.446 4.178 6.25 9.313 6.25 5.135 0 9.312-2.804 9.312-6.25 0-.236-.02-.472-.06-.705.7-.435 1.127-1.2 1.129-2.024%22 stroke=%22%23FFF%22 stroke-width=%22.5%22/%3E%3Cpath d=%22M11.329 16.331c-2.392 0-3.348-1.086-3.388-1.132a.375.375 0 0 1 .568-.49c.021.023.82.872 2.82.872 2.034 0 2.927-.879 2.936-.887a.376.376 0 0 1 .54.52c-.044.046-1.097 1.117-3.476 1.117%22 stroke=%22%23FFF%22 stroke-width=%22.5%22/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%/21px 18px;
}