.table-layout {
    margin: 15px 0;
    &__table,
    &__head,
    &__body,
    &__footer,
    &__table-row,
    &__headcell,
    &__datacell {
        color: $rb-darkgrey;
        @include mobile {
            display: block;
        }
    }
    @include tablet {
        margin: 40px auto;
        padding: 0 45px;
        min-width: 690px;
        max-width: 1030px;
    }
    @include desktop {
        @include rb3Grid(16, $centered: true);
        margin: 50px auto;
        padding: 0
    }
    &--no-top-spacing {
        margin-top: auto;
    }
    &__text {
        text-align: center;
        padding: 0 20px;
        @include tablet {
            padding: 0;
            @include centeredMaxWidth(620px);
        }
        @include desktop {
            @include centeredMaxWidth(640px);
        }
    }
    &__table {
        width: 100%;
        border: $defaultborder;
    }
    &__table-row {
        border-bottom: $defaultborder;
        padding: 20px;
        &--head {
            @include mobile {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }
        @include tablet {
            padding: 0;
        }
    }
    &__headcell {
        padding: 30px;
        font-size: rem(13.5px);
        color: #8a909a;
        font-weight: 500;
        text-align: left;
        &--align-right {
            @include tablet {
                text-align: right;
            }
        }
    }
    &__datacell {
        position: relative;
        text-align: right;
        padding-left: 50%;
        margin-bottom: 15px;
        font-size: rem(16px);
        &:before {
            @include mobile {
                position: absolute;
                top: 4px;
                left: 0;
                width: 45%;
                text-align: left;
                padding-right: 10px;
                white-space: nowrap;
                font-size: rem(13.5px);
                color: #8a909a;
                font-weight: 500;
                content: attr(data-label);
            }
        }
        &--mobile-fullwidth {
            padding: 0;
            text-align: left;
            @include tablet {
                max-width: 170px;
            }
        }
        &--emphasized {
            font-weight: bold;
        }
        &--input-number {
            min-width: 200px;
            padding: 0 0 0 30px;
        }
        @include tablet {
            padding: 30px;
            text-align: left;
            
        }
        @include desktop {
            font-size: 1rem;
        }
        &--align-right {
            @include tablet {
                text-align: right;
            }
        }
    }
    &__footer {
        text-align: right;
    }
    &__footer-row {
        @include mobile {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
        }
    }
    &__footer-label {
        font-size: rem(13.5px);
        font-weight: 500;
        line-height: 1;
        &--total {
            padding-top: 20px;
            padding-bottom: 5px;
        }
        &--vat {
            padding-top: 5px;
            padding-bottom: 20px;
        }
        color: #8a909a;
    }
    &__total {
        color: $rb-red;
        font-weight: bold;
        padding: 20px 0;
        font-size: rem(16px);
        @include tablet {
            width: 190px;
            padding: 20px 30px 5px 0;
        }
        @include desktop {
            font-size: rem(18px);
        }
    }
    &__vat {
        font-size: rem(13.5px);
        line-height: 1;
        color: $rb-darkgrey;
        @include tablet {
            padding: 5px 30px 20px 0;
        }
    }
}