.teaser-text {
    //color: rb-dark-grey;
    background-color: #fff;
    &.dark-theme {
        color: #fff;
        background-color: $rb-darkblue;
    }
    &__wrapper {
       @include centeredMaxWidth;
    }
    &__content-container {
        margin: 0 20px;
        padding: 20px 0 40px 0;
        @include tablet {
            @include rb3Grid(16, $centered: true);
        }
    }
    &__summary {
        padding-top: 20px;
        line-height: 1.4;
        font-size: rem(21px);
        line-height: 1.4;
        text-align: center;
        margin: auto;
        @include desktop-lg {
            font-size: rem(24px);
        }
    }
    &__summary__link {
        &,
        &:visited {
            color: $rb-red;
        }
    }
    &__detail {
        display: none;
        margin: 0 auto;
    }
    &__paragraph {
        padding-top: 30px;
        text-align: left;
    }
    &__toggle {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__detail {
        display: block;
    }
    &--expanded {}
}