@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Thin1.eot');
	src: url('../fonts/Bull-Thin1.woff2') format('woff2'), 
         url('../fonts/Bull-Thin1.woff') format('woff'), 
         url('../fonts/Bull-Thin1.ttf')  format('truetype'), 
         url('../fonts/Bull-Thin1.svg#svgFontName') format('svg'); 
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Thin2.eot');
	src: url('../fonts/Bull-Thin2.woff2') format('woff2'), 
         url('../fonts/Bull-Thin2.woff') format('woff'), 
         url('../fonts/Bull-Thin2.ttf')  format('truetype'), 
         url('../fonts/Bull-Thin2.svg#svgFontName') format('svg'); 
	font-weight: 300;
	font-style: normal;
}


// Normal Weight
@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Regular.eot');
	src: url('../fonts/Bull-Regular.woff2') format('woff2'), 
         url('../fonts/Bull-Regular.woff') format('woff'), 
         url('../fonts/Bull-Regular.ttf')  format('truetype'), 
         url('../fonts/Bull-Regular.svg#svgFontName') format('svg'); 
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Medium.eot');
	src: url('../fonts/Bull-Medium.woff2') format('woff2'), 
         url('../fonts/Bull-Medium.woff') format('woff'), 
         url('../fonts/Bull-Medium.ttf')  format('truetype'), 
         url('../fonts/Bull-Medium.svg#svgFontName') format('svg'); 
	font-weight: 500;
	font-style: normal;
}

// Bold Weight
@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Bold.eot');
	src: url('../fonts/Bull-Bold.woff2') format('woff2'), 
         url('../fonts/Bull-Bold.woff') format('woff'), 
         url('../fonts/Bull-Bold.ttf')  format('truetype'), 
         url('../fonts/Bull-Bold.svg#svgFontName') format('svg'); 
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Heavy1.eot');
	src: url('../fonts/Bull-Heavy1.woff2') format('woff2'), 
         url('../fonts/Bull-Heavy1.woff') format('woff'), 
         url('../fonts/Bull-Heavy1.ttf')  format('truetype'), 
         url('../fonts/Bull-Heavy1.svg#svgFontName') format('svg'); 
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Bull';
    src: url('../fonts/Bull-Heavy2.eot');
	src: url('../fonts/Bull-Heavy2.woff2') format('woff2'), 
         url('../fonts/Bull-Heavy2.woff') format('woff'), 
         url('../fonts/Bull-Heavy2.ttf')  format('truetype'), 
         url('../fonts/Bull-Heavy2.svg#svgFontName') format('svg'); 
	font-weight: 700;
	font-style: normal;
}