html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

.js-is-hidden {
    display: none !important;
}

button,
input,
textarea {
    outline: none;
}

input,
textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

.dark-theme {
    background: $rb-darkblue;
}

// Temporary placeholder for prototypin templates, remove in production!
.placeholder-temporary {
    height: 50vh;
}

.wrapper-temporary {
    margin: 30px auto;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}