html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

.js-is-hidden {
    display: none !important;
}

button,
input,
textarea {
    outline: none;
}

