/****** HELPERS ******/

/* Grid */


/* GRID WITHOUT GUTTERS ON THE OUTSIDE
 *    ┏-------┬---┬-------┬---┬-------┓
 *    |  col  | g |  col  | g |  col  |
 */
// Calculates the width for a grid with our default gutter
// e.g. gridColumn(10/22) calculates the width for 10 columns in a 1/22 grid
@mixin col($ratio, $gutter: $gutter) {
    
    width: calc((99.99% + #{$gutter}) * #{$ratio} - #{$gutter});
}

/* rb3Grid = 22col GRID WITH OUTSIDE GUTTERS
 * ┏---┬-------┬---┬-------┬---┬-------┬---┓
 * | g |  col  | g |  col  | g |  col  | g |
 */


@mixin rb3Grid($colNum, $offsetCols: 0, $centered: false, $offset: true) {
    @if $centered == true {
        $offsetCols: (22 - $colNum) /2;
         flex: 0 0 auto;
    }
    @if $offset == true {
        
        @include rb3Offset($offsetCols/22);
         width: calc((99.99% - #{$gutter}) * #{$colNum} /22 - #{$gutter});
    }
}

@mixin rb3Offset($ratio) {
    margin-left: calc((99.99% - #{$gutter}) * #{$ratio} + #{$gutter});
}


/* Absolute Centering */

@mixin acent($mode:"f") {
    position: absolute;
    @if $mode=="f" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $mode=="v" {
        top: 50%;
        transform: translate(0%, -50%);
    }
    @else if $mode=="h" {
        left: 50%;
        transform: translate(-50%, 0%);
    }
    @else if $mode=="r" {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
}


/* Flex Centering */

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Centered Max Width */

@mixin centeredMaxWidth($maxWidth: 1440px) {
    max-width: $maxWidth;
    margin: 0 auto;
}

/* Clearfix */

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* Rem Calc */

@function rem($size) {
    $remSize: $size / 18px;
    @return #{$remSize}rem;
}


/******* ELEMENTS *******/


/* Button */

@mixin button($bg:"red") {
    display: inline-block;
    border-radius: 0px;
    padding: 22px 16px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    transition: all 0.2s ease;
    @if $bg=="red" {
        background-color: $rb-red;
        color: #ffffff;
        border: none;
        &:hover,
        &:active {
            border-color: #fff;
            background-color: #fff;
            color: $rb-navyblue;
        }
    }
    @else if $bg=="transparent" {
        background-color: transparent;
        color: #fff;
        border: solid 3px rgba(255, 255, 255, 0.3);
        &:hover,
        &:active {
            background-color: $rb-red;
            color: #ffffff;
            border: solid 3px rgba(255, 255, 255, 0);
        }
    }
    @else if $bg=="white" {
        color: $rb-darkgrey;
        background-color: #ffffff;
        border: $thickborder;
        &:hover,
        &:active {
            background-color: $rb-red;
            color: #ffffff;
            border: $thickborder;
        }
    }
    @else if $bg=="ctrl" {
        color: #10151e;
        background-color: #ffffff;
        border: solid 1px #ededed;
        &:hover,
        &:active {
            //color: #00b7db;
        }
    }
    @include mobile {
        //   margin-top: 1em;
        // margin-bottom: 2em;
    }
}