/* Positioning */

@mixin acent($mode:"f") {
    position: absolute;
    @if $mode=="f" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $mode=="v" {
        top: 50%;
        transform: translate(0%, -50%);
    }
    @else if $mode=="h" {
        left: 50%;
        transform: translate(-50%, 0%);
    }
    @else if $mode=="r" {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }
}


/* Elements */

@mixin button($bg:"red") {
    display: inline-block;
    border-radius: 0px;
    padding: 22px 16px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    transition: all 0.2s ease;
    @if $bg=="red" {
        background-color: $rbred;
        color: #ffffff;
        border: none;
        &:hover,
        &:active {
            border-color: #fff;
            background-color: #fff;
            color: $rb-navyblue;
        }
    }
    @else if $bg=="transparent" {
        background-color: transparent;
        color: #fff;
        border: solid 3px rgba(255, 255, 255, 0.3);
        &:hover,
        &:active {
            background-color: $rbred;
            color: #ffffff;
            border: none;
        }
    }
    @else if $bg=="white" {
        color: #10151e;
        background-color: #ffffff;
        border: solid 1px #ededed;
        &:hover,
        &:active {
            //color: #00b7db;
        }
    }
    @include mobile {
        //   margin-top: 1em;
        // margin-bottom: 2em;
    }

}