* {
    font-family: 'Bull', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

