//Colors

$bordergrey: #e2e3e5;
$rb-red: #db0a40;
$rb-navyblue: #1b222e;
$rb-darkblue: #000f1e;
$rb-darkgrey: #1a1919;
$rb-lightgrey: #a0a1a1;

// Layout / Positioning
$gutter: 10px;

//Styles
$defaultborder: 1px solid $bordergrey;
$thickborder: 3px solid $bordergrey;

// Element Sizes
$hero-small-min-height-mobile: 120px;
$hero-small-min-height-tablet: 260px;
$footer-height-desktop: 90px;