.footer {
    background-color: $rb-navyblue;
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        font-weight: 900;
        font-size: rem(12px);
        line-height: 1;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 30px 25px 50px;
        @include desktop {
            height: $footer-height-desktop;
            padding: 20px 50px 20px;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__navigation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        @include desktop {
            margin-left: 10px;
            flex-direction: row;
            order: 1;
        }
    }
    &__copyright {
        font-size: rem(13.5px);
        font-weight: bold;
        line-height: 1;
        color: $rb-lightgrey;
        white-space: nowrap;
    }
    &__link {
        &,
        &:active,
        &:visited {
            font-size: rem(13.5px);
            font-weight: bold;
            line-height: 1;
            color: #ffffff;
            text-decoration: none;
        }
        @include desktop {
            padding-left: 20px;
        }
        @include desktop-lg {
            padding-left: 25px;
        }
    }
    &__copyright,
    &__item,
    &__link {
        padding-top: 20px;
        text-align: center;
        font-size: rem(13.5px);
        text-transform: uppercase;
        @include desktop-lg {
            //font-size: 16px;
        }
    }
    &__lang-switch {
        width: 80px;
        @include desktop {
            padding-top: 5px;
            margin-left: 25px;
        }
    }
    &__lang-switch--mobile {
        margin: auto;
        @include desktop {
            display: none;
        }
    }
    &__lang-switch--desktop {
        display: none;
        @include desktop {
            display: block;
        }
    }
    &__lang-switch-text {
        padding: 12px 20px;
        display: inline-block;
    }
}