.card-group {
    max-width: 1440px;
    margin: 0 auto;
    &__slot {
        margin: 10px;
 
    }
    &__button-container {
        text-align: center;
        padding-top: 22px;
    }
    &__button {
        min-width: 220px;
    }
}

@media only screen and (min-width:780px) {
    .card-group__content {

        box-flex: 0;

        flex: 0 0 auto;
        // Grid!!
        // margin-left: calc((99.99% - 10px)*.090909090909091 + 10px);
        // width: calc((99.99% - 10px)*18/22 - 10px);
        width: 90.5%;
        max-width: 1160px;
        margin: auto;
        zoom: 1
    }
    .card-group__content:after,
    .card-group__content:before {
        content: "";
        display: table
    }
    .card-group__content:after {
        clear: both
    }
    .card-group__slot {
        float: left;
        margin: 0 10px 10px 0
    }
}

@media only screen and (min-width:780px) and (max-width:1153px) {
    .card-group__slot {
        width: calc((99.99% + 10px)*.5 - 10px)
    }
    .card-group__slot:nth-last-child(2) {
        margin: 0 10px 0 0
    }
    .card-group__slot:nth-child(2n) {
        margin: 0 0 10px
    }
    .card-group__slot:last-child {
        margin: 0
    }
}

@media only screen and (min-width:1154px) {
    .card-group__slot {
        width: calc((99.99% + 10px)*.333333333333333 - 10px)
    }
    .card-group__slot:nth-child(3n) {
        margin: 0 0 10px
    }
    .card-group__slot:last-child {
        margin: 0
    }
    .card-group__slot:nth-child(3n+1):nth-last-child(2),
    .card-group__slot:nth-child(3n+1):nth-last-child(3),
    .card-group__slot:nth-child(3n+2):nth-last-child(2) {
        //  margin: 0 10px 0 0
    }
}

@media only screen and (min-width:780px) {
    .card-group--6 .card-group__slot:first-child {
        //     margin: 0 10px 0 0
    }
    .card-group--6 .card-group__slot:nth-child(2) {
        // margin: 0 0 10px
    }
    .card-group--6 .card-group__slot:last-child {
        margin: 0
    }
}

@media only screen and (min-width:1154px) {
    .card-group--6 .card-group__slot:first-child {
        //  width: calc((99.99% + 10px)*.666666666666667 - 10px)
    }
}