// Temporary placeholder for templates, remove in production!
.placeholder-temporary {
    height: 50vh;
}
.wrapper-temporary {

    margin: 30px auto;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}